.gallery-container {
    text-align: center;
    padding: 50px 10%;
    background: #f9f9f9;
    margin-top: 100px;
}

.gallery-container h1 {
    font-size: 3rem;
    color: var(--black);
    margin-bottom: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease-in-out;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}



/* Responsive Design */
@media (max-width: 768px) {
    .gallery-container {
        padding: 30px 5%;
    }
    
    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}