body {
    margin: 0;
    font-family: calibri;
    text-align: center;
    background-color: #f8f7f0;
}

.homePage {
    height: 200vh;
}

.navbar {
    background-color: #f78a3c;
    width: 100%;
    position: fixed; /* Fix the navbar at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it appears above other content */
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-family: Calibri;
    position: relative; /* Needed for the :after pseudo-element */
}

nav ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Adjust thickness */
    background-color: white; /* Adjust colour */
    left: 0;
    bottom: -49px; /* Adjust to position the underline */
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.SKlogo {
    width: 160px;
    margin: 0px 200px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as needed */
    overflow: hidden;
    margin-top: 60px; /* Adjust based on the height of your navbar */
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    padding-top: 120px; 
}

#sidebarToggle {
    color: white;
    cursor: pointer;
    margin-right: 40px; /* Adjust margin as needed */
    display: none;
}

#sidebarToggle:hover {
    color: black;
}

.order-now-btn {
    position: absolute;
    font-family: Calibri;
    border: 2px solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: none; /* Adjust the background colour */
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.order-now-btn:hover {
    background-color: #e65c00; /* Adjust the hover background colour */
    transform: translate(-50%, -50%) scale(1.05);
}



.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); /* Adjust the opacity as needed */
}

.trading-hours-container {
    padding: 100px 20px 50px ;
    text-align: center;
    margin: 200px 0px ;
}

.trading-hours-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #f78a3c;
}

.trading-hours-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.trading-hours-table th, .trading-hours-table td {
    padding: 12px 20px;
    border: 1px solid #ddd;
}

.trading-hours-table th {
    background-color: #f78a3c;
    color: white;
    font-weight: bold;
}

.trading-hours-table tr:nth-child(even) {
    background-color: #f4f4f4;
}

footer {
    background-color: #f78a3c; /* Dark background colour */
    color: white; /* Text colour */
    padding: 20px 0; /* Padding for top and bottom */
    text-align: center; /* Centre-align text */
}

.footer-container {
    width: 80%;
    margin: 0 auto; /* Centre the footer content */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info {
    margin-bottom: 20px; /* Space between info and copyright */
}

.footer-info p {
    margin: 5px 0; /* Space between lines */
}

.footer-copyright p {
    margin: 0; /* Remove default margin */
    font-size: 14px; /* Smaller font size */
}

.contact-container {
    padding: 20px;
    max-width: 1200px;
    margin: 200px auto;
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; /* Add this line to vertically center the form */
}

.contact-form, .map-container {
    flex: 1;
    margin: 10px;
    min-width: 300px;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
    justify-content: center; /* Add this line */
}

.map-container {
    margin-left: 40px; /* Adjust the value as needed */
}

.contact-form h2, .map-container h2 {
    margin-top: 0;
}

.contact-form {

    margin-top: 100px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    
}

.contact-form form label {
    margin-bottom: 5px;
}

.contact-form form input, .contact-form form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form form button {
    padding: 10px;
    background-color: #f78a3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 0px;
}

.contact-form form button:hover {
    background-color: #555;
}

.map-container p {
    margin-bottom: 10px;
}

.map-container iframe {
    width: 100%;
    border: 0;
    border-radius: 5px;
}

.menu-container {
    max-width: 800px;
    margin: 200px auto;
    padding: 20px;
}

.menu-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #f78a3c;
}

.menu-category {
    margin-bottom: 30px;
}

.menu-category h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #f78a3c;
}

.menu-category ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-category ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menu-category ul li .item-name {
    font-size: 18px;
    color: #333;
}

.menu-category ul li .item-price {
    font-size: 18px;
    color: #666;
}

.category-photo {
    width: 150px; /* Adjust as needed */
     /* Maintain aspect ratio */
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 40px; /* Optional: to make the image corners rounded */
}

#pide-photo {

    width: 200px;
}

#burger-photo {

    width: 200px;
}

.meal-photo {

    width: 100px;
}



.item-options {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.item-options td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.item-options tr:nth-child(even) {
    background-color: #f2f2f2;
}

.item-options tr:hover {
    background-color: #ddd;
}

.item-options td:first-child {
    font-weight: bold;
}

.item-options td:last-child {
    text-align: right;
}

.item-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.item-table th, .item-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.item-table th {
    font-weight: bold;
    text-align: center;
}

.item-table td {
    text-align: center;
}

.item-table th, .item-table td:first-child {
    text-align: left;
}

.about-us-section {
    display: flex;
    justify-content: center;
    padding: 150px 20px; /* Reduce padding */
    background-color: #f8f7f0; /* Adjust if needed */
}


.aboutUsPhoto {
    flex: 1 1 45%; /* Reduce flex-basis */
    max-width: 45%; /* Reduce max-width */
    height: auto;
    border-radius: 5px;
}

.textBox {
    flex: 1 1 45%; /* Reduce flex-basis */
    max-width: 45%; /* Reduce max-width */
    background-color: #fff;
    padding: 15px; /* Reduce padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    margin-left: -30px; /* Adjust margin to overlap the image */
}

.textBox h1 {
    font-size: 28px; /* Reduce font-size */
    margin-bottom: 15px; /* Adjust margin */
    color: #f78a3c;
}

.textBox p {
    font-size: 16px; /* Reduce font-size */
    line-height: 1.4; /* Adjust line-height */
    margin-bottom: 15px; /* Adjust margin */
    color: #333;
    margin: 10px 50px;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%); /* Fully hide the sidebar */
    transition: transform 0.3s ease; /* Smooth transition */
    z-index: 1000; /* Ensure it overlays other elements */
}

.sidebar.active {
    transform: translateX(0); /* Slide the sidebar into view */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

#sidebarToggle {
    cursor: pointer;
    color: white;
}



@media (max-width: 770px) {
    nav ul {
        display: none;
    }

    .SKlogo {
        width: 100px;
        margin: 0px 40px;
    }

    #sidebarToggle {
        display: block;
    }

    .contact-content {
        flex-direction: column;
        align-items: stretch; /* Reset to default */
    }

    .contact-form, .map-container {
        display: block; /* Reset to default */
        flex-direction: initial; /* Reset to default */
        justify-content: initial; /* Reset to default */
    }

    .about-us-section {
        flex-direction: column; /* Stack the elements vertically */
        align-items: center; /* Center items horizontally */
        padding: 50px 20px; /* Adjust padding for mobile */
    }

    .aboutUsPhoto {
        width: 90%; /* Adjust width for smaller screens */
        max-width: 300px; /* Set a reasonable max width */
        margin-bottom: 20px; /* Add spacing between the image and text */
    }

    .textBox {
        width: 90%; /* Adjust width for smaller screens */
        max-width: 300px; /* Set a reasonable max width */
        margin-left: 0; /* Remove overlap margin for mobile */
        padding: 20px; /* Maintain good spacing */
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Slightly reduce shadow */
    }

    .textBox h1 {
        font-size: 24px; /* Adjust font size for mobile */
        margin-bottom: 10px; /* Adjust margin */
    }

    .textBox p {
        font-size: 14px; /* Adjust font size for better readability */
        line-height: 1.6; /* Increase line height slightly */
    }

    video {
        
        padding-top: 60px;
        
    }
}



